.archive-tab {
	display: flex;
	width: 100%;
	&__wrapper {
		width: 100%;
		margin: 0 auto;
	}
	&__header-wrap {
		background: $purple;
		color: $white;
		height: 50px;
		width: 100%;
	}
	&__header {
		display: flex;
		max-width: 1160px;
		margin: 0 auto;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px;
		}
	}
	&__header-tab {
		width: 25%;
	}

	&__single-content {
		max-width: 1080px;
		margin: 0 auto;
		padding: 100px 0;
		border: 1px solid red;
	}
	&__post {
		border: 1px solid green;
	}
	&__post-image {
		width: 570px;
		height: 260px;
		@include bgImage();
	}
	&__content-title {
	}
	&__content-description {
		strong {
			font-weight: bold;
			color: $purple;
			margin-bottom: 80px;
		}
	}
}
