.contact { 
  h1 {
    margin: 60px auto;
    font-size: 52px;
    text-align: center;
    font-family: $raleway-light;
    color: $purple;
    text-transform: uppercase;
  }

  &__wrapper {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;  
  }

  &__content {
    padding: 10% 5% 12%; 
    background-color: $light-grey;

    img {
      width: 96px;
      height: 96px;
      margin-bottom: 45px;
    }
  }
  &__text {
    margin-bottom: 50px;
    h4 {
      font-size: 28px;
      font-family: $raleway-bold;
      color: $purple;
      text-align: center;
    }
  }

  &__details {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 50px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__box-title,
  &__box-content {
    font-size: 18px;
    line-height: 1.5;
    color: $purple;
  }
  &__box-title{
    width: 40%;
    font-family: $raleway-bold;
    text-transform: uppercase;
  }
  &__box-content {
    width: 60%;   
    font-family: $raleway;
    letter-spacing: 0.7px;
  }
  &__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__social-title {
    width: 40%;
    font-size: 18px;
    font-family: $raleway-bold;
    color: $purple;
    text-transform: uppercase;
  }
  &__social-icons {
    width: 60%;
    font-size: 20px;
    color: $pink;
    display: flex;
    justify-content: flex-start;

    a {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Style for contact form 7
.contact-form {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  padding: 0 5%;
}

.cf7-row {
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 0.7px;
  font-family: $raleway-bold;
  color: $purple;
  text-transform: uppercase;
}
.wpcf7-text,
.wpcf7-email,
.wpcf7-textarea {
  width: 100%;
}
input,
textarea {
  margin-top: 10px;
  padding: 10px;
  font-family: $raleway;
  border: 1px solid $border-black;
}
textarea {
  resize: none;
}
span {
  color: $purple;
}
input::placeholder,
textarea::placeholder {
  font-size: 16px;
}
.cf7-submit {
  position: relative;
  width: fit-content;
  &::after,
  &::before {
    position: absolute;
    top: 25px;
    right: 35px;
    display: block;
    content: '';
    height: 10px;
    width: 10px; 
    z-index: 999;
    transform: rotate(45deg);
  }
  &::after {
    border-top: 2px solid $purple;
  }
  &::before {
    border-right: 2px solid $purple;
  }
}
.wpcf7-submit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 60px;
  padding: 0;
  background-color: $white;
  font-size: 24px;
  font-family: $raleway-bold;
  text-transform: uppercase;
  color: $purple;
  border: 2px solid $purple;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
  text-transform: none;
}
input + span.wpcf7-not-valid-tip {
  margin-top: 8px;
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  display: flex;
  align-items: center;
  border: 0;
  padding: 10px;
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
  color: #D8000C;
  background-color: #FFBABA;
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #4F8A10;
  background-color: #DFF2BF;
}
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
  font: 26px/30px FontAwesome;
  margin-right: 16px;
  vertical-align: middle;
}
div.wpcf7-mail-sent-ok:before {
  content:'\f00c';
}
div.wpcf7-validation-errors:before {
  content:'\f057';
}

@include tablet() {
  .contact-form {
    width: 80%;
    margin: 80px auto;
  }
}

@include desktop() {
  .contact {
    max-width: 1160px;
    margin: 0 auto;

    &__content {
      padding: 40px 0; 

      img {
        width: 67px;
        height: 67px;
        margin-bottom: 25px;
      }
    }
    &__text {
      margin-bottom: 40px;
      h4 {
        font-size: 18px;
      }
    }
    &__details {
      display: none;
    }
    &__social {
      justify-content: flex-start;
      padding-left: 15%;
    }
    &__social-title,
    &__social-icons {
      width: fit-content;
    }
    &__social-title{
      color: $pink;
    }
    &__social-icons {
      margin-left: 30px;
      a {
        margin-right: 30px;
      }
    }
  }

  .contact-form {
    padding: 0;
    margin: 130px 0;
    width: 100%;
  }
  .cf7-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cf7-bottom {
    display: flex;
    flex-flow: column;
  }
  .cf7-submit {
    align-self: flex-end;

    &::after,
    &::before {
      top: 24px;
      right: 15px;
      width: 8px;
      height: 8px;
    }
    &::after {
      border-top: 1px solid $purple;
    }
    &::before {
      border-right: 1px solid $purple;
    }
  }
  .wpcf7-submit {
    width: 125px;
    height: 35px;
    font-size: 14px;
    font-family: $raleway-semi-bold;
    border: 1px solid $purple;
  }
}

