.farmacy-list {
	&__wrapper {
		display: none;
		padding: 0;
	}
	&__list {
		color: $purple;
		font-family: $raleway-bold;
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		border: 1px solid $grey;
		max-width: 300px;
		overflow: hidden;
		border-radius: 3px;
		border-top: none;
		a {
			padding: 10px;
			width: 300px;
			background: $white-purple;
			color: $purple;
			&:nth-child(odd) {
				background: $white;
				color: $purple;
			}
		}
	}
}

@include desktop() {
	.farmacy-list {
		&__wrapper {
		}
		&__list {
			a {
			}
		}
	}
}
