.site-footer {
  padding: 40px 0px;
  background-color: $purple;
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  color: $white;
  font-size: 16px;
  line-height: 1.5;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__description {
    width: 100%;
  }
  &__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $light-pink;
    text-transform: uppercase;
    &--title {
      margin-bottom: 20px;
      color: $white;
      width: max-content;
    }
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &__box {
    &:last-child {
      padding-right: 0;
      display: none;
    }
  }
  &__socials {
    display: flex;
    flex-direction: column;
    width: 100%;    
  }
  &__social {
      &--title {
        margin-bottom: 20px;
      }
  }
  &__social-icons {
    display: flex;
    justify-content: flex-start;
    a {
      padding-right: 15%;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__description,
  &__links,
  &__social-icons {
    margin-bottom: 40px;
  }

  &__copy {
    width: 100%;
  }

  &__privacy-policy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
    padding: 0 5%;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  &__terms {
    display: flex;
    flex-direction: column;
    color: $purple;
    a {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &__logo {
    width: 157px;
    img {
      max-width: 100%;
    }
  }
}

/****************
* Media queries *
****************/
@include phone-lg() {
  .footer {
    &__links {
      justify-content: flex-start;
    }
    &__box {
      padding-right: 15%;
      width: fit-content;
      &:last-child {
        display: block;
      }
    }
  }
}

@include tablet() {
  .site-footer {
    padding: 60px 0px;
  }
  .footer {
    font-size: 18px;
    line-height: 1.63;

    &__links,
    &__social {
      &--title {
        margin-bottom: 40px;
      }
    }
    &__box {
      &:last-child {
        display: block;       
        padding-right: 0;        
      }
    }
    &__social-icons {
      font-size: 30px;
      a {
        padding-right: 10%;
      }
    }
    &__description,
    &__links,
    &__social-icons {
      margin-bottom: 60px;
    }
    &__privacy-policy {
      margin: 60px 0;
      font-size: 18px;
      line-height: 1.63;
    }
    &__logo {
      width: 215px;
      align-self: center;
    }
  }
}

@include desktop() {
  .site-footer {
    padding: 80px 0px 80px;
  }
  .footer {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    font-size: 16px;
    line-height: 1.5;
    &__wrapper {
      flex-direction: row;
    }
    &__description {
      max-width: 400px;
    }
    &__links{
      justify-content: space-evenly;
      &::before {
        content: "";
        border-left: 1px solid $light-pink;
        padding-left: 20px;
      }
    }
    &__box {
      padding-right: 5%;
    }
    &__description,
    &__links {
      margin-bottom: 0;
    }
    &__social {
      display: flex;
      flex-direction: row;
    }

    &__social-icons {
      font-size: 16px;
      margin-left: 30px;
      margin-bottom: 30px;
      a {
        padding-right: 30px;
      }
    }
    &__privacy-policy {
      max-width: 1160px;
      margin: 30px auto;
      padding: 0;
    }
    &__terms {
      flex-direction: row;
      a {
        margin-bottom: 0px;
        &::after {
          content: "|";
          padding: 0 20px; 
        }
      }
    }
  }
}