.general-title {
  font-size: 50px;
  line-height: 1.21;
  color: $purple;
}
.general-content {

  &__social-share {

  }
  &__purple-box {

  }
  &__purple-box-title {

  }
  &__purple-box-text {
    
  }
}