.header {
	width: 100%;
	height: 120px;
	padding: 30px 5%;
	background: $purple;
	display: flex;
	position: relative;
	z-index: 10;
	&__wrapp {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu {
		display: none;
		position: absolute;
		width: 100%;
		// min-height: calc(100vh - 120px);
		height: auto;
		flex-flow: column;
		justify-content: space-between;
		left: 0;
		top: 120px;
		color: $white;
		background-color: $purple-grey;
		z-index: 5;
		&-wrapper {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			min-height: calc(100vh - 120px);
		}
	}
	&__logo {
		width: 170px;
		height: 58px;
	}
	&__search-form {
		position: absolute;
		width: 100%;
		left: 0;
		top: 120px;
		padding: 30px 20%;
		align-items: center;
		justify-content: center;
		background-color: $purple-grey;
		display: none;
	}
	&__search-icon {
		color: $white;
		font-size: 32px;
	}
}
.is-open {
	display: flex;
}
@include desktop() {
	.header {
		padding: 0 10%;
		&__wrapp {
			max-width: 1160px;
			margin: 0 auto;
		}
		&__hamburger-wrapper {
			display: none;
		}
		&__menu {
			display: flex;
			align-items: center;
			width: 80%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background: transparent;
			top: 0;
			&-wrapper {
				flex-flow: row;
				height: 100%;
				min-height: auto;
				width: 100%;
			}
		}
		&__search-icon {
			display: none;
		}
		&__search-form {
			position: relative;
			display: flex;
			width: 255px;
			height: 36px;
			top: 0;
			padding: 0;
			background: transparent;
			input {
				background-color: rgba(0, 0, 0, 0.3);
				color: $white;
			}
		}
	}
}
