.header {
	width: 100%;
	height: 120px;
	padding: 30px 5%;
	background: $purple;
	display: flex;
	&__wrapp {
		display: flex;
		align-items: center;
	}
	&__menu {
		position: absolute;
		display: none;
		color: $purple;
	}
	&__search-form {
		position: absolute;
		display: none;
	}
}
