.archive-page {
	&__hero {
		width: 100%;
		height: 200px;
		background: blue;
	}
	&__content {
		position: relative;
		width: 90%;
		margin: 0 auto;
		padding: 90px 0;
		color: $grey;
		font-family: $raleway;
	}
	&__content-overlay {
		display: none;
	}
	&__single-proizvod {
		background: $beige;
  }
  
  &__title-section {    
    h2 {
      margin-bottom: 30px;
      font-family: $raleway-light;
      font-size: 38px;
      text-align: center;
      color: $purple;
    }
  }
}

@include desktop() {
	.archive-page {
		&__content-wrapper {
			position: relative;
		}
		&__content {
			display: block;
			max-width: 1160px;
			font-size: 18px;
			overflow: hidden;
			z-index: 10;
			p {
				width: 70%;
				line-height: 28px;
			}
		}
		&__single-proizvod {
			margin-top: -40px;
		}
		&__content-overlay {
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 70px;
			background: $beige;
			z-index: -1;
		}
		&__title-section {
      h1 {
        margin-top: 0;
        margin-bottom: 0;
      }

			h2 {
				font-size: 48px;
				margin-bottom: 0;
			}
    }
    &__single-proizvod {
      padding-top: 30px;
    }
	}
}
