.products-section {
	&__inner-wrapper {
		padding: 100px 5%;
	}
	&__title {
		font-family: $raleway-light;
		font-size: 52px;
		text-align: center;
		color: $purple;
	}

	&__slider {
		position: relative;
		.slick-arrow {
			position: absolute;
			top: 170px;
			border: solid $purple;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 20px;
			z-index: 1;
		}
		.slick-prev {
			left: 0;
			transform: rotate(135deg);
		}
		.slick-next {
			right: 0;
			transform: rotate(-45deg);
		}
	}

	&__image-container {
		position: relative;
    display: flex;
    justify-content: center;
		width: 100%;
    height: 260px;    
    margin: 0 auto;    
    &::before {
      position: absolute;
      display: block;
      height: 80px;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      background: $white;
    }
	}

	&__image {
		position: relative;
		height: auto;
		width: 90%;
		max-width: 500px;
		margin: 0 auto;
    margin-bottom: -130px;
		transition: 0.5s;
    z-index: 2;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	}

	&__content {
		display: flex;
		padding: 50px 20px 45px;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		background-color: $white;

		&-title {
			position: relative;
			max-width: 300px;
			margin-bottom: 60px;
			padding: 0 10px;
			font-family: $raleway-bold;
			font-size: 30px;
			line-height: 1.52;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: -0.3px;
			color: $viol-purple;
			transition: 0.5s;

			&::after {
				position: absolute;
				display: block;
				height: 2px;
				width: 27px;
				content: '';
				left: 50%;
				bottom: -20px;
				transform: translateX(-50%);
				background-color: $viol-purple;
				z-index: 1;
				transition: 0.5s;
			}
		}

		&-description {
			width: 90%;
			max-width: 400px;
			margin-bottom: 66px;
			text-align: center;
			font-family: $raleway-medium;
			font-size: 28px;
			line-height: 0.98;
			letter-spacing: -0.7px;
			color: $grey;
		}
	}

	&__button {
		position: relative;
		display: flex;
		height: 60px;
		width: fit-content;
		min-width: 250px;
		padding: 0 30px;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		font-family: $raleway-semi-bold;
		text-transform: uppercase;
		border: 1px solid $purple;

		&::after {
			position: absolute;
			display: block;
			padding: 4px;
			content: '';
			top: calc(50% - 6px);
			right: 20px;
			transform: rotate(-45deg);
			border: solid $purple;
			border-width: 0 2px 2px 0;
			z-index: 1;
		}
	}
	&__slider {
		&-single {
			border-bottom: 5px solid $viol-purple;

			&:nth-child(3n + 2) {
				border-bottom: 5px solid $yellow;

				.products-section__content-title {
					color: $yellow;

					&::after {
						background-color: $yellow;
					}
				}
      }
      
      &:nth-child(3n) {
				border-bottom: 5px solid $orange;

				.products-section__content-title {
					color: $orange;

					&::after {
						background-color: $orange;
					}
				}
      }
		}
	}
}

@include tablet() {
	.products-section {
		&__inner-wrapper {
      display: flex;
      padding: 100px 0;
			flex-flow: column;
		}
		&__title {
			position: relative;
			margin-bottom: 50px;
			font-size: 48px;

			&::before,
			&::after {
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				height: 1px;
				width: 95px;
				background-color: $purple;
			}

			&::before {
				left: -160px;
			}

			&::after {
				right: -160px;
			}
		}

		&__slider {
      display: flex;
      width: 100%;
      max-width: 1160px;
      margin: 0 auto;
      flex-flow: row;
      justify-content: center;

			&-single {
        display: flex !important;
        height: auto !important;
        width: calc(33% - 20px) !important;
        max-width: 350px;
        margin-left: 16px;
        margin-right: 16px;   
        flex-flow: column;
        justify-content: space-between;

        &:first-child {
          margin-left: 0;
          // margin-right: 0;
        }
        &:last-child {
          margin-right: 0;
        }

				&:hover {
					.products-section__image {
						transform: scale(1.05);
					}
					.products-section__content-title {
						transform: scale(1.05);

						&::after {
							width: 70px;
						}
					}
				}
			}
		}

		&__image-container {
			position: relative;

			&::before {
        height: unset;
        top: 130px;
			}
    }
    
    &-image {
      margin-bottom: -100px;
    }

		&__content {
      min-height: 340px;
      flex: 1;

			&-title {
				margin-bottom: 40px;
				font-size: 20px;
				line-height: 1.5;

				&::after {
					bottom: -18px;
				}
			}

			&-description {
				margin-bottom: 25px;
				font-size: 16px;
				line-height: 1.38;
			}
		}

		&__button {
			height: 35px;
			min-width: 130px;
			font-size: 14px;
			overflow: hidden;
			z-index: 2;

			span {
				position: relative;
				z-index: 2;
			}

			&::before {
				position: absolute;
				display: block;
				content: '';
				height: 100%;
				width: 100%;
				background-color: $purple;
				border-radius: 50%;
				transform: translateY(100%);
				transition: .6s;
				z-index: 1;
			}

			&::after {
				padding: 3px;
				top: calc(50% - 4px);
				right: 16px;
			}

			&:hover {
        span {
          color: $white;
        }

				&::after {
					border-color: $white;
				}

				&:before {
          transform: translateY(0%);
          border-radius: 0%;
				}
			}
		}
	}
}

@include desktop() {
	.products-section {
		&__slider {

			&-single {
        margin-left: 26px;
        margin-right: 26px;
			}
		}
	}
}
