.searchform {
	width: 100%;
	margin: 0 auto;
	position: relative;
	input {
		width: 100%;
		height: 30px;
		border: none;
		padding-top: 4px;
		text-align: center;
		color: $purple;
		&::placeholder {
			text-align: center;
			color: $purple;
		}
		&:focus {
			outline-color: $purple-grey;
		}
	}
	&__icon {
		position: absolute;
		top: 6px;
		right: 26px;
		color: $purple;
	}
	.page-header {
		background: $white;
	}
}

@include desktop() {
	.searchform {
		input {
			width: 100%;
			padding-left: 16px;
			color: $grey;
			text-align: left;
			&::placeholder {
				text-align: left;
				color: $grey;
			}
			&:focus {
				outline-color: $purple;
			}
		}
		&__icon {
			color: $white;
		}
	}
}
