.single-tab {
	font-family: $raleway;
	&__mob {
		padding: 0 5%;
	}
	&__mob-section-title {
		position: relative;
		padding: 20px;
		font-size: 24px;
		color: $purple;
		border-top: 1px solid $purple;
		border-bottom: 1px solid $purple;
		&:after {
			content: '';
			position: absolute;
			right: 20px;
			top: calc(50% - 10px);
			width: 10px;
			height: 10px;
			border-top: 2px solid $purple;
			border-right: 2px solid $purple;
			transform: rotate(135deg);
		}
	}
	&__table {
		display: flex;
		flex-flow: column;
	}
	&__table-row {
		div {
			background: $black-purple;
		}
		&:nth-child(even) {
			div {
				background: $white-purple;
			}
		}
	}
	&__table-title {
		margin: 10px 0;
		padding: 20px;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	&__description {
		padding: 20px 0;
		color: $grey;
	}
	&__desktop {
		display: none;
	}
}

@include desktop() {
	.proizvod {
		background: $beige;
		&__single-proizvod {
			background: $white;
		}
	}

	.js-product-row {
		display: none;
	}
	.single-tab {
		&__mob {
			display: none;
		}
		&__desktop {
			display: flex;
			background: $beige;
			padding: 80px 0;
		}
		&__wrapper {
			max-width: 1160px;
			margin: 0 auto;
		}
		&__header {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $purple;
			margin-bottom: 80px;
		}
		&__header-column {
			color: $purple;
			padding: 20px 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				cursor: pointer;
			}
		}
		&__table {
			position: relative;
			display: flex;
			&:before {
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				left: 230px;
				top: 0;
				bottom: 0;
				background: $beige;
			}
		}
		&__table-row {
			display: flex;
			align-items: center;
			background: $black-purple;
			margin-bottom: 2px;
			&:nth-child(even) {
				background: $white-purple;
			}
		}
		&__table-title {
			position: relative;
			margin: 0;
			max-width: 230px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			padding: 20px 46px;
			// &:after {
			// 	content: '';
			// 	height: calc(100% + 10px);
			// 	width: 4px;
			// 	background: $beige;
			// 	position: absolute;
			// 	right: 0;
			// 	top: 0;
			// 	bottom: 0;
			// }
		}
		&__table-desc {
			padding: 34px 30px 34px 68px;
		}
	}
}
