.table {
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;
  width: 100%;
  overflow-x: scroll;
  &__title-container {
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;
  }
  &__title {
    width: 100%;
    min-width: 165px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 1;
    font-family: $raleway-medium;
    color: $purple;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid $purple;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__box-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: $raleway-medium;
    color: $grey;
  }
  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 2px;
    background-color: #c7bed6;

    &:nth-child(even) {
      background-color: #e6e1ee;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 165px;
    padding: 0 20px;
    text-align: center;
    border-right: 2px solid $white;

    &:last-child {
      border-right: none;
    }
    &:first-child {
      font-family: $raleway-bold;
      text-transform: uppercase;
    }
  }
}

@include tablet() {
  .table {
    &__title {
      padding-left: 0;
    }
    &__box {
      width: 33.33%;
    }
  }
}

@include desktop() {
  .table {
    // max-width: 730px;
    max-width: 1000px;
    margin: 0 auto;

    &__title-container {     
      justify-content: space-between;
    }
    &__title {
      max-width: 100%;
      font-size: 16px;
      text-align: center;
    }
    &__box-container {
      margin: 0;
      font-size: 14px;
    }
    &__box {
      width: 100%;
      // max-width: 250px;
      max-width: 333px;
      height: 60px;
      padding: 0 30px;
    }
  }
}