/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #061a21;
$purple: #462777;
$light-pink: #fac8e6;
// Cookie popup colors
