/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #061a21;
$light-purple: #b46ec8;
$purple: #462777;
$purple-grey: #ece9f1;
$viol-purple: #b46ec8;
$light-purple: #dbd5e5;
$light-pink: #fac8e6;
$pink: #e81c92;
$grey: #525252;
$beige: #f4f0ed;
$orange: #f49600;
$yellow: #ffd200;
$light-pink: #fac8e6;
$pink: #e81c92;
$gray: #f5f1f1;
// Cookie popup colors
