/****************
* Font families *
****************/

// Families definitions
@font-face {
	font-family: 'Dante MT Std';
	src: url('assets/fonts/DanteMTStd-Regular.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Light';
	src: url('assets/fonts/JohnstonITCStd-Light.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Light Italic';
	src: url('assets/fonts/JohnstonITCStd-LightItalic.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Medium';
	src: url('assets/fonts/JohnstonITCStd-Medium.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Medium Italic';
	src: url('assets/fonts/JohnstonITCStd-MediumItalic.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Bold';
	src: url('assets/fonts/JohnstonITCStd-Bold.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Johnston ITC Std Bold Italic';
	src: url('assets/fonts/JohnstonITCStd-BoldItalic.woff') format('woff');
	font-weight: normal;
}

// Families variables
$dante: 'Dante MT Std';
$johnston-light: 'Johnston ITC Std Light';
$johnston-light-italic: 'Johnston ITC Std Light Italic';
$johnston-medium: 'Johnston ITC Std Medium';
$johnston-medium-italic: 'Johnston ITC Std Medium Italic';
$johnston-bold: 'Johnston ITC Std Bold';
$johnston-bold-italic: 'Johnston ITC Std Bold Italic';
