/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
body {
	@include body-text();
	z-index: 1;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
#site-navigation {
	z-index: -1;
}
.more-link {
	display: none;
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h2 {
	@include h2();
}

a {
	color: inherit;
}
em {
	font-style: italic;
}
.general-cta {
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	padding: 10px 20px;
	z-index: 10;
	transition: 0.3s;
	background: $white;
	&:after {
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		right: 20px;
		transform: rotate(45deg);
		top: calc(50% - 5px);
	}
	&--purple {
		border: 1px solid $purple;
		color: $purple;
		&:after {
			border-top: 2px solid $purple;
			border-right: 2px solid $purple;
		}
	}
}

// Single article hover effect
.single-post-hover {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	transition: 0.5s;
	z-index: 1;
	&--purple {
		background: $viol-purple;
	}
	&--yellow {
		background: $yellow;
	}
	&--orange {
		background: $orange;
	}
}
.post-desc,
.post-title {
	transition: 0.5s;
}
.post-title {
	&--purple {
		color: $viol-purple;
	}
	&--yellow {
		color: $yellow;
	}
	&--orange {
		color: $orange;
	}
}
.single-post {
	position: relative;
	&:hover {
		.post-desc,
		.post-title {
			color: $white;
		}

		.single-post-hover {
			height: 450px;
		}
	}
}
.prevent-scroll {
	overflow: hidden;
	#site-navigation {
		z-index: 1;
	}
}

.wrapper {
	padding: 0 5%;
}

// Class for wysiwyg and general template which we use on multiple pages
.general {
	margin-bottom: 80px;
	h1 {
		font-size: 52px;
		font-family: $raleway-light;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 18px;
	}
	h2,
	h3,
	h4,
	h5 {
		font-family: $raleway-bold;
	}
	p {
		font-size: 18px;
		line-height: 24px;
		font-family: $raleway;
		color: $dark-grey;
	}
	p b,
	p i {
		font-size: 18px;
		line-height: 24px;
		color: $dark-grey;
	}
	p b {
		font-family: $raleway-bold;
	}
	p i {
		font-family: $raleway-light-italic;
	}
	p a {
		font-size: 18px;
		line-height: 24px;
		color: $pink;
	}
	ul,
	ol {
		padding: 0 5%;
		font-family: $raleway;
		margin-bottom: 30px;
	}
	ul li {
		display: flex;
		align-items: center;
		// font-family: $raleway;
		&::before {
			content: '\2022';
			display: inline-block;
			padding-right: 30px;
			color: $pink;
			font-size: 200%;
		}
	}
	ol {
		counter-reset: li;
	}
	ol li {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		counter-increment: li;
		list-style-position: inside;

		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: counter(li);
			display: inline-block;
			padding-right: 30px;
			color: $pink;
			text-align: left;
			font-family: $raleway-bold;
		}
	}

	strong {
		font-family: $raleway-bold;
		color: $dark-grey;
	}
}
.general-text {
	&__box {
		padding: 50px 0;
	}
	&__title {
		margin-bottom: 30px;
		font-size: 52px;
		line-height: 1.21;
		color: $purple;
		text-transform: uppercase;
	}
	&__content {
		p {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	&__social-share {
		display: flex;
		font-size: 26px;
		font-family: $raleway-semi-bold;
		padding-top: 30px;
		a {
			margin-left: 30px;
		}
	}
}
.purple-box {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $purple;

	&__title {
		margin-bottom: 30px;
		h2 {
			font-size: 48px;
			color: $white;
			text-transform: uppercase;
			text-align: center;
		}
	}
	&__text {
		p {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 20px;
			color: $white;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*****************
 * Media queries *
 ****************/
@include tablet() {
	.general-text {
		&__box {
			padding: 80px 0;
		}
		&__title {
			margin-bottom: 50px;
		}
		&__content {
			p {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 30px;
			}
		}
		&__social-share {
			padding-top: 50px;
			a {
				margin-left: 50px;
			}
		}
	}
	.purple-box {
		padding-top: 80px;
		padding-bottom: 80px;
		&__title {
			margin-bottom: 50px;
		}
		&__text {
			p {
				margin-bottom: 30px;
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}

@include desktop() {
	.general-text {
		max-width: 730px;
		margin: 0 auto;
		&__content {
			p {
				font-size: 16px;
				line-break: 24px;
			}
		}
		&__social-share {
			font-size: 18px;
		}
	}
	.purple-box {
		flex-direction: row;
		justify-content: flex-start;
		width: 1000px;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 40px;
		&__title {
			width: 160px;
			margin-bottom: 0;
			margin-right: 20px;
			h2 {
				text-align: left;
			}
		}
		&__text {
			position: relative;
			width: 660px;
			padding-left: 40px;
			&::before {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				border-left: 1px solid $white;
				height: 100px;
			}
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

// Prevent scroll
.no-scroll {
	overflow: hidden;
}

// image to background helper class
img[class$='-imgtobg'] {
	display: none;
}

// class for animation purposes
// hides element so animation can start smoothly
.animated {
	visibility: hidden;
}
/****************
* Media queries *
****************/

@include tablet() {
	h2 {
		font-size: 44px;
		line-height: 0.92;
	}
}

@include desktop() {
	#site-navigation {
		z-index: 1;
		height: 100%;
	}
	h2 {
		position: relative;
		width: fit-content;
		margin: 0 auto 60px;
		font-size: 43px;
		text-transform: uppercase;
		text-align: center;
		color: $purple;
		line-height: 1.25;

		&:before,
		&:after {
			content: '';
			top: 42%;
			position: absolute;
			width: 95px;
			height: 1px;
			background: $purple;
		}
		&:before {
			left: -125px;
		}
		&:after {
			right: -125px;
		}
	}
	p {
		// letter-spacing: 0.8px;
	}
}
@include desktop-xlg() {
	h2 {
		font-size: 58px;
		line-height: 56px;
	}
	p {
		font-size: 19px;
	}
}
