/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
body {
	@include body-text();
	z-index: 1;
}
#site-navigation {
	z-index: -1;
}
.more-link {
	display: none;
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h2 {
	@include h2();
}

a {
	color: inherit;
}
em {
	font-style: italic;
}
<<<<<<< HEAD
=======
.general-cta {
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	padding: 10px 20px;
	z-index: 10;
	transition: 0.3s;
	background: $white;
	&:after {
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		right: 20px;
		transform: rotate(45deg);
		top: calc(50% - 5px);
	}
	&--purple {
		border: 1px solid $purple;
		color: $purple;
		&:after {
			border-top: 2px solid $purple;
			border-right: 2px solid $purple;
		}
	}
}

// Single article hover effect
.single-post-hover {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	transition: 0.5s;
	z-index: 1;
	&--purple {
		background: $viol-purple;
	}
	&--yellow {
		background: $yellow;
	}
	&--orange {
		background: $orange;
	}
}
.post-desc,
.post-title {
	transition: 0.5s;
}
.post-title {
	&--purple {
		color: $viol-purple;
	}
	&--yellow {
		color: $yellow;
	}
	&--orange {
		color: $orange;
	}
}
.single-post {
	position: relative;
	&:hover {
		.post-desc,
		.post-title {
			color: $white;
		}

		.single-post-hover {
			height: 450px;
		}
	}
}
>>>>>>> cddfd1e68c8a767578db17aa7b3a5305e9fbf683

// class for a page content site-wide for the purpose of WYSIWYG editor
.content {
	font-size: 16px;
	line-height: 1.4;
	text-align: left;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 20px 0px;
		font-weight: 700;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 18px;
	}
} // .content

// Prevent scroll
.no-scroll {
	overflow: hidden;
}

// image to background helper class
img[class$='-imgtobg'] {
	display: none;
}

// class for animation purposes
// hides element so animation can start smoothly
.animated {
	visibility: hidden;
}
/****************
* Media queries *
****************/

@include tablet() {
	h2 {
		font-size: 44px;
		line-height: 0.92;
	}
}

@include desktop() {
	h2 {
		position: relative;
		width: fit-content;
		margin: 0 auto 60px;
		font-size: 43px;
		text-transform: uppercase;
		text-align: center;
		color: $purple;
		line-height: 1.25;

		&:before,
		&:after {
			content: '';
			top: 42%;
			position: absolute;
			width: 95px;
			height: 1px;
			background: $purple;
		}
		&:before {
			left: -125px;
		}
		&:after {
			right: -125px;
		}
	}
	p {
		// letter-spacing: 0.8px;
	}
}
@include desktop-xlg() {
	h2 {
		font-size: 58px;
		line-height: 56px;
	}
	p {
		font-size: 19px;
	}
}
